body{
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color: #f7dad9;
    color: #000000;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li{
    float : left;
    font-size: 24px;
    padding: 30px 20px;
}

.header-link {
    color: #000000;
    text-decoration: none;
    cursor : pointer;
}

.header-link:hover {
    color: #968c83;
    border-bottom: 2px #968c83 solid;
}

.home_image {
    background-color: #fff5ea;
    background-image: url(../image/home/home_image-min.JPG);
    background-size: cover;
    background-position-y: 20%;
    height: 100%;
    width: 100%;
}

.home_image-mask {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.home_image-title {
    font-size: 60px;
    color: #000000;
    text-align: center;
    width: 80%;
    height: 80%;
    padding: 10%;
    font-weight: 600;
}

.main {
    background-color: #fff5ea;
    padding: 40px;
    height: 1500px;
}

.twitter-timeline {
    float: left;
    height: 1200px;
    width: 500px;
    text-align: center;
    font-size: 30px;
}

.calendar {
    float: center;
    background-color: #fff5ea;
    padding: 30px;
}

.sns {
    background-color: #fff5ea;
    padding: 30px;
}

.sns-icon {
    float: left;
    padding: 10px;
}

.footer {
    background-color: #d6d2e4;
    color: #000000;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 28px;
}

.footer-list {
    float: right;
    padding-top: 30px;
}

.footer-list li {
    padding-bottom: 10px;
}
